{% extends "book.html" %} {% block title %}Foundation Project | Glossary{%
endblock %} {% block book_pages %}
<div class="bg-white rounded-lg p-6 h-full overflow-hidden">
  <!-- Category Label -->
  <p class="text-sm uppercase tracking-[0.3em] text-gray-500">
    Encyclopedia Entry
  </p>

  <!-- Title -->
  <h2 class="mt-1 text-3xl font-bold text-gray-800">Trantor</h2>

  <!-- Description -->
  <p class="mt-4 text-gray-700 leading-relaxed">
    As the center of the Imperial Government for unbroken hundreds of
    generations and located, as it was, toward the central regions of the Galaxy
    among the most densely populated and industrially advanced worlds of the
    system, it could scarcely help being the densest and richest clt of humanity
    the Race had ever seen. Its urbanization, the progressing steadily, had
    finally reached the ultimate. All the land surface of Trantor, 75,000,000
    square miles in extent, was a single city, built in layers that burrowed
    deep into the ground. The population at its height, was well in excess of
    forty billions. This enormous population was devoted almost entirely to the
    administrative necessities of Empire, and found themselves all too few for
    the complications of the tast. Daily, fleets of ships in the tens of
    thousands brought the produce of twenty agricultural worlds to the dinner
    tables of Trantor.
  </p>
</div>
<div class="bg-white rounded-lg p-6 h-full overflow-hidden">
  <!-- Category Label -->
  <p class="text-sm uppercase tracking-[0.3em] text-gray-500">
    Encyclopedia Entry
  </p>

  <!-- Title -->
  <h2 class="mt-1 text-3xl font-bold text-gray-800">Psychohistory</h2>

  <!-- Description -->
  <p class="mt-4 text-gray-700 leading-relaxed">
    Gaal Dornick, using nonmathematical concepts, has defined psychohistory to
    be that branch of mathematics which deals with the reactions of human
    conglomerates to fixed social and economic stimuli... Implicit in all these
    definitions is the assumption that the human conglomerate being dealt with
    is sufficiently large for valid statistical treatment. The necessary size of
    such a conglomerate may be determined by Seldon's First Theorem which ... A
    further necessary assumption is that the human conglomerate be itself
    unaware of psychohistoric analysis in order that its reactions be truly
    random ... The basis of all valid psychohistory lies in the development of
    the Seldon.
  </p>
</div>
<div class="bg-white rounded-lg p-6 h-full overflow-hidden">
  <!-- Category Label -->
  <p class="text-sm uppercase tracking-[0.3em] text-gray-500">
    Encyclopedia Entry
  </p>

  <!-- Title -->
  <h2 class="mt-1 text-3xl font-bold text-gray-800">
    Commission of Public Safety
  </h2>

  <!-- Description -->
  <p class="mt-4 text-gray-700 leading-relaxed">
    The aristocratic coterie rose to power after the assassination of Cleon I,
    last of the Entuns. In the main, they formed an element of order during the
    centuries of instability and uncertainty in the Imperium. Usually under the
    control of the great families of the Chens and the Divarts, it degenerated
    eventually into a blind instrument for maintenance of the status quo....
    They were not completely removed as a power in the state until after the
    accession of the last strong Emperor, Cleon H. The first Chief
    Commissioner.... ... In a way, the beginning of the Commission's decline can
    be traced to the trial of Hari Seldon two years before the beginning of the
    Foundational Era. That trial is described in Gaal Dornick's biography of
    Hari Seldon....
  </p>
</div>
<div class="bg-white rounded-lg p-6 h-full overflow-hidden">
  <!-- Category Label -->
  <p class="text-sm uppercase tracking-[0.3em] text-gray-500">
    Encyclopedia Entry
  </p>

  <!-- Title -->
  <h2 class="mt-1 text-3xl font-bold text-gray-800">Terminus</h2>

  <!-- Description -->
  <p class="mt-4 text-gray-700 leading-relaxed">
    Its location was an odd one for the role it was called upon to play in
    Galactic history, and yet as many writers have never tired of pointing out,
    an inevitable one. Located on the very fringe of the Galactic spiral, an
    only planet of an isolated sun, poor in resources and negligible in economic
    value, it was never settled in the five centuries after its discovery, until
    the landing of the Encyclopedists.... It was inevitable that as a new
    generation grew, Terminus would become something more than an appendage of
    the psychohistorians of Trantor.
  </p>
</div>
<div class="bg-white rounded-lg p-6 h-full overflow-hidden">
  <!-- Category Label -->
  <p class="text-sm uppercase tracking-[0.3em] text-gray-500">
    Encyclopedia Entry
  </p>

  <!-- Title -->
  <h2 class="mt-1 text-3xl font-bold text-gray-800">The Four Kingdoms</h2>

  <!-- Description -->
  <p class="mt-4 text-gray-700 leading-relaxed">
    The name given to those portions of the Province of Anacreon which broke
    away from the First Empire in the early years of the Foundational Era to
    form independent and short-lived kingdoms. The largest and most powerful of
    these was Anacreon itself which in area... ... Undoubtedly the most
    interesting aspect of the history of the Four Kingdoms involves the strange
    society forced temporarily upon it during the administration of Salvor
    Hardin
  </p>
</div>
<div class="bg-white rounded-lg p-6 h-full overflow-hidden">
  <!-- Category Label -->
  <p class="text-sm uppercase tracking-[0.3em] text-gray-500">
    Encyclopedia Entry
  </p>

  <!-- Title -->
  <h2 class="mt-1 text-3xl font-bold text-gray-800">Traders</h2>

  <!-- Description -->
  <p class="mt-4 text-gray-700 leading-relaxed">
    Constantly in advance of the political hegemony of the Foundation were the
    Traders, reaching out tenuous fingerholds through the tremendous distances
    of the Periphery. Months or years might pass between landings on Terminus;
    their ships were often nothing more than patchquilts of home-made repairs
    and improvisations; their honesty was none of the highest; their daring...
    Through it all they forged an empire more enduring than the pseudo-religious
    despotism of the Four Kingdoms. Tales without end are told of these massive,
    lonely figures who bore half-seriously, half-mockingly a motto adopted from
    one of Salvor Hardin's epigrams, "Never let your sense of morals prevent you
    from doing what is right!" It is difficult now to tell which tales are real
    and which apocryphal. There are none probably that have not suffered some
    exaggeration
  </p>
</div>

{% endblock %}
